{% from "components/summary/_macro.njk" import onsSummary %}

{% if list.editable %}
  {% set headers = ["Name of person", "Action"] %}
  {% set rows = map_list_collector_config(
    list.list_items,
    "person",
    _("Change"),
    _("Change details for {item_name}"),
    _("Remove"),
    _("Remove {item_name}")
  ) %}
{% else %}
  {% set headers = ["Name of person"] %}
  {% set rows = map_list_collector_config(
    list.list_items,
    "person"
  ) %}
{% endif %}

{% set groups_config = {
  "groupTitle": summary_title,
  "headers": headers,
  "rows": rows,
  "summaryLink": {"url": add_link, "text": add_link_text, "dataQa": "add-item-link"},
} %}

{% if empty_list_text %}
  {% do groups_config.update({"placeholderText": empty_list_text}) %}
{% endif %}

{{ onsSummary({
  "withinQuestion": true,
  "summaries": [
    {
      "groups": [
        groups_config
      ]
    }
  ],
  "classes": "u-mt-s"
}) }}
