{%- if content.summary.collapsible -%}
  {%- include 'partials/summary/collapsible-summary.html' -%}
{%- else -%}
  {% from "components/summary/_macro.njk" import onsSummary %}

  {% set summaryGroups = [] %}

  {%- for group in content.summary.groups if group.blocks -%}

      {% do summaryGroups.append (
        {
        "groups": [
          {
            "groupTitle": group.title if group.title else None,
            "id": group.id if group.id else None,
            "rows": map_summary_item_config(
              group=group,
              summary_type=content.summary.summary_type,
              answers_are_editable=content.summary.answers_are_editable,
              no_answer_provided=_("No answer provided"),
              edit_link_text=_("Change"),
              edit_link_aria_label=_("Change your answer for:"),
              calculated_question=content.summary.calculated_question,
              icon=None
            ),
            "classes": "ons-u-mt-m" if loop.index > 1 else "",
            "placeholderText": group.links.empty_list_text,
            "summaryLink": group.links.add_link,
          }
        ]
        }
      )
      %}
  {%- endfor -%}


  {{ onsSummary({
    "summaries": summaryGroups
  }) }}

{%- endif -%}

