{
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:import/recommended"
  ],
  "globals": {
    "$": true,
    "$$": true,
    "browser": true,
    "expect": true
  },
  "parserOptions": {
    "ecmaVersion": 11,
    "ecmaFeatures": {
      "modules": true
    }
  },
  "plugins": [
    "json",
    "chai-friendly"
  ],
  "rules": {
    "chai-friendly/no-unused-expressions": 2,
    "consistent-return": 1,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "comma-dangle": 0,
    "new-cap": 2,
    "no-alert": 1,
    "no-console": 2,
    "no-dupe-class-members": 0,  // Need to fix generate_pages.py to enable this.
    "no-unused-expressions": 0,
    "no-useless-constructor": 0,
    "no-var": 2,
    "prefer-arrow-callback": [
      2,
      {
        "allowNamedFunctions": false
      }
    ],
    "quotes": [
      2,
      "double",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "semi": [
      2,
      "always"
    ],
    "space-before-function-paren": 0,
    "padded-blocks": [
      "error",
      {
        "blocks": "never"
      }
    ]
  }
}
