[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]
"pep8" = "*"
mock = "*"
pytest-cov = "*"
jsonschema = "*"
pylint = "<3.0.0"
pylint-mccabe = "*"
pylint-quotes = "*"
pylint-absolute-imports = "*"
"beautifulsoup4" = "*"
httmock = "*"
"flake8" = "*"
"flake8-debugger" = "*"
"flake8-mock" = "*"
"flake8-print" = "*"
"flake8-tuple" = "*"
"flake8-datetimez" = "*"
moto = "*"
freezegun = "*"
pytest-xdist = "*"
fakeredis = "*"
mypy = "*"
black = "*"
pytest-flask = "*"
pytest = "*"
pytest-sugar = "*"
responses = "*"
types-simplejson = "*"
types-requests = "*"
types-redis = "*"
types-PyYAML = "*"
types-python-dateutil = "*"
pytest-mock = "*"
types-cachetools = "*"
types-pytz = "*"
playwright = "*"

[packages]
colorama = "*"
flask = "*"
flask-babel = "*"
flask-login = "*"
flask-wtf = "*"
gevent = { version = "*", platform_python_implementation = "=='CPython'" }
google-cloud-datastore = "*"
grpcio = "*"
gunicorn = "*"
pika = "*"
pyyaml = "*"
requests = "*"
sdc-cryptography = "*"
structlog = "*"
ua-parser = "*"
blinker = "*"
"boto3" = "*"
humanize = "*"
flask-talisman = "*"
marshmallow = "*"
python-snappy = "*"
google-cloud-storage = "*"
jsonpointer = "*"
redis = "*"
flask-compress = "*"
htmlmin = "*"
coloredlogs = "*"
uwsgi = "*"
email-validator = "*"
itsdangerous = "*"
google-cloud-pubsub = "*"
google-cloud-tasks = "*"
simplejson = "*"
markupsafe = "*"
pdfkit = "*"
ordered-set = "*"
cachetools = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = false
