{% from "components/collapsible/_macro.njk" import onsCollapsible %}

{% call onsCollapsible({
  "id": "answer-guidance-" ~ answer.id,
  "classes": "u-mt-s",
  "title": _(answer_guidance.schema_item.show_guidance),
  "titleTag": "h2",
  "headingAttributes": {
    "data-ga": "click",
    "data-ga-category": "Answer guidance",
    "data-ga-action": "Open panel",
    "data-ga-label": _(answer_guidance.schema_item.show_guidance),
    "data-qa": "answer-guidance-" ~ answer.id ~ "-title"
  },
  "contentAttributes": {
    "data-qa": "answer-guidance-" ~ answer.id ~ "-content"
  },
  "button": {
    "close": _("Hide this"),
    "contextSuffix": "content",
    "attributes": {
      "data-ga": "click",
      "data-ga-category": "Answer guidance",
      "data-ga-action": "Close panel",
      "data-ga-label": _(answer_guidance.schema_item.show_guidance),
      "data-qa": "answer-guidance-" ~ answer.id ~ "-button"
    }
  }
}) %}
  <div class="u-mt-s">
    {% set content_block = answer_guidance.schema_item %}
    {% include 'partials/content-block.html' %}
  </div>
{% endcall %}
