{% import "macros/helpers.html" as helpers %}

{% set form = content.form %}
{% set errors = form.answer_errors[answer.id] %}
{% from "components/error/_macro.njk" import onsError %}

{% if render_guidance != False %}
    {# djlint:off #}
    {%- set answer_guidance %}
        {% if answer.guidance %}
            {% with answer_guidance = {
                "id": answer.id,
                "label": answer.label,
                "schema_item": answer.guidance
            } %}
                {% include "partials/answer-guidance.html" %}
            {% endwith %}
        {% endif %}
    {% endset -%}
    {# djlint:on #}
{% endif %}
{% if errors | length > 0 %}
    {# djlint:off #}
    {% set error = {
        "text": errors[0],
        "id": answer.id ~ '-error',
        "attributes": {
            "data-ga": "error",
            "data-ga-category": "Error",
            "data-ga-action": "Display",
            "data-ga-label": "Answer Error",
            "data-ga-type": answer.type,
            "data-ga-identifier": question.id,
            "data-ga-page": "Questionnaire",
        }
    } %}
    {# djlint:on #}
{% endif %}
{% include "partials/answers/" ~ answer.type|lower ~ ".html" %}
{{ answer_guidance }}
