{% from "components/details/_macro.njk" import onsDetails %}

{# djlint:off #}
{% call
    onsDetails({
        "id": definition_id,
        "title": definition.title,
        "classes": "ons-u-mb-s",
        "headingAttributes": {
            "data-ga": "click",
            "data-ga-category": category,
            "data-ga-action": "Open panel",
            "data-ga-label": definition.title,
            "data-qa": definition_id ~ "-title"
        },
        "contentAttributes": {
            "data-qa": definition_id ~ "-content"
        }
    })
  %}
    {% set contents = definition.contents %}
    {% include 'partials/contents.html' %}
{% endcall %}
{# djlint:on #}
