{% from "components/error/_macro.njk" import onsError %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/label/_macro.njk" import onsLabel %}
{% from "components/input/_macro.njk" import onsInput %}
{% set email_form_errors = form.errors['email'] %}

  {% if email_form_errors %}
    {% set email_error = {
      "text": email_form_errors[0],
      "id": 'email-error',
      "attributes": {
        "data-ga": "error",
        "data-ga-category": "Error"
      }
    }
    %}
    {% call onsError(email_error) %}
    {{
      onsInput({
        "id": "email",
        "name": "email",
        "label": {
          "id": "j",
          "text": _("Email address"),
          "description": _("This will not be stored and only used once to send your confirmation")
        },
        "type": "text",
        "classes": "input input--text input-type__input",
        "value": form.fields.email.data
      })
    }}
    {% endcall %}
  {% else %}
    {{
      onsInput({
        "id": "email",
        "name": "email",
        "label": {
          "id": "j",
          "text": _("Email address"),
          "description": _("This will not be stored and only used once to send your confirmation")
        },
        "type": "text",
        "classes": "input input--text input-type__input"
      })
    }}
  {% endif %}

  {{ form.fields.csrf_token }}

  {{
    onsButton({
      "text": _("Send confirmation"),
      "classes": "u-mt-s",
      "attributes": {
        "data-qa": "btn-submit"
      }
    })
  }}
