{% from "components/error/_macro.njk" import onsError %}
{% from "components/button/_macro.njk" import onsButton %}
{% set email_form_errors = form.errors['email'] %}

<form method="POST">
  {% if email_form_errors %}
  {% set email_error = {
    "text": email_form_errors[0],
    "id": 'email-error',
    "attributes": {
      "data-ga": "error",
      "data-ga-category": "Error"
    }
  }
  %}

  {% call onsError(email_error) %}
      <strong>{{ _("Email address ") }}</strong>
      <p>{{ _("This will not be stored and only used once to send your confirmation") }}</p>
      {{ form.fields.email(class_="input input--text input-type__input") }}
    {% endcall %}
    {% else %}
      <strong>{{ _("Email address") }}</strong>
      <p>{{ _("This will not be stored and only used once to send your confirmation") }}</p>
      {{ form.fields.email(class_="input input--text input-type__input") }}
    {% endif %}
  {{ form.fields.csrf_token }}

  {{
    onsButton({
      "text": "Send confirmation",
      "classes": "u-mt-xl",
      "attributes": {
        "data-qa": "btn-submit"
      }
    })
  }}
</form>
