{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/list/_macro.njk" import onsList %}

{% set error_list = [] %}
{# djlint:off #}
{% for error_id, error in form.mapped_errors %}
    {{ error_list.append({
        "text": error,
        "url": "#" + error_id,
        "variants": "inPageLink",
        "attributes": {
            "data-qa": "error-link-" + loop.index|string
        }
    }) or "" }}
{% endfor %}
{% call
    onsPanel({
        "type": "error",
        "classes": "ons-u-mb-s",
        "title": error_title,
        "attributes": {
            "data-qa": "error-body"
        }
    })
%}
    {{
        onsList({
            "element": "ol",
            "attributes": {
                "data-qa": "error-list"
            },
            "itemsList": error_list
        })
    }}
{% endcall %}
{# djlint:on #}
