{% from 'components/panel/_macro.njk' import onsPanel %}
{% from 'macros/helpers.html' import format_paragraphs %}

{% set answers = question.answers %}

<div class="ons-summary__item">

  <h3 class="ons-u-mt-m ons-u-fs-r--b">{{ question.title }}</h3>

  {% set answers_length = answers|length %}

  {% if question.descriptions %}
    {% set descriptions = question.descriptions %}
    {% set descriptions_length = descriptions|length %}

    {% for description in descriptions %}
      <div class="ons-question__description ons-u-mb-m">{{- description | safe -}}</div>
    {% endfor %}
  {% endif %}

  {% if question.instruction %}
    {% for instruction in question.instruction %}
        <div class="ons-question__instruction ons-u-mb-m"><p>{{- instruction | safe -}}</p></div>
    {% endfor %}
  {% endif %}

  {%- if question.guidance -%}
    {% set contents = question.guidance.contents %}
    {% call onsPanel({
      "id": "question-guidance-" ~ question.id,
      "classes": "ons-u-mb-m"
    }) %}
      {% set contents = question.guidance.contents %}
      {% include 'partials/contents.html' %}
    {% endcall %}
  {% endif %}

  {%- if question.answer_guidance -%}
    {% set contents = question.answer_guidance.contents %}
    {% call onsPanel({
      "id": "question-guidance-" ~ question.id,
      "classes": "ons-u-mb-m"
    }) %}
      {% set contents = question.answer_guidance.contents %}
      {% include 'partials/contents.html' %}
    {% endcall %}
  {% endif %}

  {% if answers_length > 1 %}
    <p>{{ _("You can answer with the following options:") }}</p>
    <ul>
      {% for answer in answers %}
        <li>{{ answer }}</li>
      {% endfor %}
    </ul>
  {% elif answers_length == 1 %}
    <p><strong>{{ answers[0] }}</strong></p>
    {% if question.text_length %}
      <p>{{ question.text_length }}{{ _(" characters can be added.") }}</p>
    {% endif %}
  {% endif %}

  {% if question.answer_description %}
    {% set description = question.answer_description %}
    <p>{{ description }}</p>
  {% endif %}

</div>
