{% from 'components/panel/_macro.njk' import onsPanel %}
{% from 'macros/helpers.html' import format_paragraphs %}

{% set answers = question.answers %}

<div class="ons-summary__item">

  <h3 class="ons-u-mt-m ons-u-fs-r--b">{{ question.title }}</h3>

  {% set answers_length = answers|length %}

  {% if question.descriptions %}
    {% set descriptions = question.descriptions %}
    {% set descriptions_length = descriptions|length %}

    {% for description in descriptions %}
      <div class="ons-question__description ons-u-mb-m">{{- description | safe -}}</div>
    {% endfor %}
  {% endif %}

  {% if question.instruction %}
    {% for instruction in question.instruction %}
        <div class="ons-question__instruction ons-u-mb-m"><p>{{- instruction | safe -}}</p></div>
    {% endfor %}
  {% endif %}

  {%- if question.guidance -%}
    {% set contents = question.guidance.contents %}
    {% call onsPanel({
      "id": "question-guidance-" ~ question.id,
      "classes": "ons-u-mb-m"
    }) %}
      {% set contents = question.guidance.contents %}
      {% include 'partials/contents.html' %}
    {% endcall %}
  {% endif %}

  {% if answers_length > 1 %}
    <p>{{ _("You can answer with the following options:") }}</p>

    {% for answer in answers %}

      {%- if answer.guidance -%}
          {% set contents = answer.guidance.contents %}
          {% call onsPanel({
            "id": "question-guidance-" ~ question.id,
            "classes": "ons-u-mb-m"
          }) %}
            {% set contents = answer.guidance.contents %}
            {% include 'partials/contents.html' %}
          {% endcall %}
      {% endif %}

      {% if answer.description %}
        {% set description = answer.description %}
        <p>{{- description | safe -}}</p>
      {% endif %}

      {% if answer.instruction %}
        {% set instruction = answer.instruction %}
        <p>{{- instruction | safe -}}</p>
      {% endif %}
      {%  if loop.last and question.type == "MutuallyExclusive" %}
        <p>{{ _("Or") }}</p>
      {%  endif %}
      {%  if answer.options %}
        {% if answer.label %}
          {% set label = answer.label %}
          <p>{{- label | safe -}}</p>
        {% endif %}
        <ul>
          {% for option in answer.options %}
            <li>{{ option }}</li>
          {% endfor %}
        </ul>
      {%  else %}
        <ul>
          <li>{{ answer.label }}</li>
        </ul>
      {%  endif %}

    {% endfor %}

  {% elif answers_length == 1 %}
    {% for answer in answers %}

      {%- if answer.guidance -%}
          {% set contents = answer.guidance.contents %}
          {% call onsPanel({
            "id": "question-guidance-" ~ question.id,
            "classes": "ons-u-mb-m"
          }) %}
            {% set contents = answer.guidance.contents %}
            {% include 'partials/contents.html' %}
          {% endcall %}
      {% endif %}

      {% if answer.description %}
        {% set description = answer.description %}
        <p>{{- description | safe -}}</p>
      {% endif %}

      {% if answer.instruction %}
        {% set instruction = answer.instruction %}
        <p>{{- instruction | safe -}}</p>
      {% endif %}
      {% if answer.label %}
        {% set label = answer.label %}
        <p>{{- label | safe -}}</p>
      {% endif %}
      {% if answer.max_length %}
        <p>{{ _("{max_characters} characters can be added.").format(max_characters = answer.max_length) }}</p>
      {% endif %}
      {%  if answer.options %}
        <p>{{ _("You can answer with the following options:") }}</p>
        <ul>
          {% for option in answer.options %}
            <li>{{ option }}</li>
          {% endfor %}
        </ul>
      {% endif %}

    {%  endfor %}
  {% endif %}

</div>
