{% from "components/collapsible/_macro.njk" import onsCollapsible %}

{% for definition in question.definitions %}
  {% call onsCollapsible({
      "id": question.id ~ "-collapsible",
      "title": definition.title,
      "classes": "u-mb-s",
      "headingAttributes": {
        "data-ga": "click",
        "data-ga-category": "Question definition",
        "data-ga-action": "Open panel",
        "data-ga-label": definition.title,
        "data-qa": "collapsible-title"
      },
      "contentAttributes": {
        "data-qa": "collapsible-content"
      },
      "button": {
        "close": _("Hide this"),
        "contextSuffix": "content",
        "attributes": {
          "data-ga": "click",
          "data-ga-category": "Question definition",
          "data-ga-action": "Close panel",
          "data-ga-label": definition.title,
          "data-qa": "collapsible-close-button"
        }
      }
  }) %}
    {% set contents = definition.contents %}
    {% include 'partials/contents.html' %}
  {% endcall %}
{% endfor %}
