{% from "components/question/_macro.njk" import onsQuestion %}
{% from "components/fieldset/_macro.njk" import onsFieldset %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/error/_macro.njk" import onsError %}

{% from 'macros/helpers.html' import format_paragraphs %}
{% from 'macros/helpers.html' import interviewer_note %}

{% set form = content.form %}

{% set title= interviewer_note(question.title) if block.interviewer_only else question.title %}
{% set question_title= question.title %}
{% set question_description = format_paragraphs(question.description) %}
{% set question_instruction = format_paragraphs(question.instruction) %}
{% set question_error = form.question_errors[question.id] %}

{%- set question_definition -%}
  {%- if question.definitions -%}
    {%- include 'partials/question-definition.html' -%}
  {%- endif -%}
{%- endset -%}

{% set individual_response_guidance %}
   {%- if show_individual_response_guidance == True -%}
      {% set title = _("If you can’t answer questions for this person") %}
      {% include 'partials/individual-response-guidance.html' %}
   {%- endif -%}
{% endset %}

{% set question_warning %}
  {%- if question.warning -%}
    {% call onsPanel({
      "id": "question-warning-" ~ question.id,
      "type": "warn"
    }) %}
      <p>{{question.warning}}</p>
    {% endcall %}
  {% endif %}
{% endset %}

{% set question_guidance %}
  {%- if question.guidance -%}
    {% set contents = question.guidance.contents %}
    {% call onsPanel({
      "id": "question-guidance-" ~ question.id,
      "classes": "ons-u-mb-m"
    }) %}
      {% set contents = question.guidance.contents %}
      {% include 'partials/contents.html' %}
    {% endcall %}
  {% endif %}
{% endset %}

{%- set mutually_exclusive_question = question.type == 'MutuallyExclusive' -%}

{% set question_answers %}
  {% if mutually_exclusive_question %}
    {%- set answer = question.answers[0] -%}

    {%- set deselectionMessage = _("Selecting this will clear your answer") -%}
    {%- set deselectGroupAdjective = _("cleared") -%}

    {%- if answer.type == 'checkbox' -%}
      {%- set deselectionMessage = _("Selecting this will deselect any selected options") -%}
      {%- set deselectGroupAdjective = _("deselected") -%}
    {%- endif -%}

    {%- set mutuallyExclusive = {
      "or": _("Or"),
      "checkbox": map_checkbox_config(form, question.answers[-1])[0],
      "deselectionMessage": deselectionMessage,
      "deselectGroupAdjective": deselectGroupAdjective,
      "deselectCheckboxAdjective": _("deselected")
    } -%}

    {% include 'partials/answer.html' %}
  {%- else -%}
    {%- set answers -%}
      {%- for answer in question.answers -%}
        {% include 'partials/answer.html' %}
      {%- endfor -%}
    {%- endset -%}
    {{ answers }}
  {%- endif -%}
{% endset %}

{% call onsQuestion({
  "id": question.id,
  "title": title,
  "description": question_description,
  "instruction": question_instruction,
  "legendIsQuestionTitle": should_wrap_with_fieldset(question)
}) %}
  {%- if content.list and content.list.list_items -%}
    {% set list = content.list %}
    <div class="ons-u-mb-m">
      {% include 'partials/summary/list-summary.html' %}
    </div>
  {% endif %}
  {{ question_warning }}
  {{ individual_response_guidance }}
  {{ question_definition }}
  {{ question_guidance }}

  {% if question_error %}
    {% set config = {
      "text": question_error,
      "id": question.id ~ '-error',
      "attributes": {
        "data-ga": "question-error",
        "data-ga-category": "Question error",
        "data-ga-action": question.type,
        "data-ga-label": question.id
      }
    }%}
    {% call onsError(config) %}
      {{ question_answers }}
    {% endcall %}
  {% else %}
    {{ question_answers }}
  {% endif %}

{% endcall %}
