{% extends 'layouts/_base.html' %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/cookies-banner/_macro.njk" import onsCookiesBanner %}
{% from "components/timeout-modal/_macro.njk" import onsTimeoutModal %}

{% set block = content.block %}
{% set form = content.form %}
{% set last_viewed_question_guidance = content.last_viewed_question_guidance %}

{% block main %}


  <button type="submit" class="ons-u-d-no" hidden></button>

  {% block form_errors %}{% endblock %}

  {% block form_content %}
      <div class="group">
        {% if last_viewed_question_guidance %}
          {% include 'partials/last_viewed_question_guidance.html' %}
        {% endif %}
        {% include 'partials/block.html' %}
      </div>
  {% endblock %}

  {% block submit_button %}
      {{
          onsButton({
              "submitType": "timer",
              "text": continue_button_text | default(_("Save and continue")),
              "classes": "ons-u-mt-xl",
              "attributes": {
                  "data-qa": "btn-submit"
              }
          })
      }}
  {% endblock %}

  {% block after_submit_button_content %}
    {% if content.return_to_hub_url %}
      <p class="ons-u-mt-xl"><a href="{{ content.return_to_hub_url }}" data-ga-action="Choose another section click">{{ _("Choose another section and return to this later") }}</a></p>
    {% endif %}
  {% endblock %}

  {{
    onsTimeoutModal({
      "showModalTimeInSeconds": 60,
      "serverSessionExpiryEndpoint": url_for('session.session_expiry'),
      "sessionExpiresAt": session.expires_at,
      "redirectUrl": url_for('session.get_signed_out'),
      "title": _("You will be signed out soon"),
      "textFirstLine": _("It appears you have been inactive for a while."),
      "countdownText": _("To protect your information, your progress will be saved and you will be signed out in"),
      "redirectingText": _("You are being signed out"),
      "btnText": _("Continue survey"),
      "minutesTextSingular": _("minute"),
      "minutesTextPlural": _("minutes"),
      "secondsTextSingular": _("second"),
      "secondsTextPlural": _("seconds")
    })
  }}

{% endblock %}
