{% extends 'layouts/_base.html' %}

{% set page_title = _("Page is not available") %}

{% block main %}
  <h1>{{ _("Sorry, you need to sign in again") }}</h1>
  <p>{{ _("This is because you have either:") }}</p>
  <ul>
    <li>{{ _("been inactive for 45 minutes and your session has timed out to protect your information") }}</li>
    <li>{{ _("followed a link to a page you are not signed in to") }}</li>
    <li>{{ _("followed a link to a survey that has already been submitted") }}</li>
  </ul>
  <p>{{ _("You will need to <a href='{url}'>sign back in</a> to access your account").format(url = account_service_log_out_url) }}</p>
{% endblock %}
