{% from "components/footer/_macro.njk" import onsFooter %}

{% set config = {
        "crest": true,
        "newTabWarning": _("The following links open in a new tab"),
        "assetsURL": assetsURL,
        "rows": [
            {
                "itemsList": [
                    {
                        "text": _("Help"),
                        "url": footer_urls.help,
                        "target": "_blank"
                    },
                    {
                        "text": _("Contact us"),
                        "url": contact_us_url,
                        "target": "_blank"
                    }
                ]
            },
            {
                "itemsList": [
                    {
                        "text": _("Cookies"),
                        "url": footer_urls.cookies,
                        "target": "_blank"
                    },
                    {
                        "text": _("Accessibility statement"),
                        "url": footer_urls.accessibility_statement,
                        "target": "_blank"
                    },
                    {
                        "text": _("Privacy and data protection"),
                        "url": footer_urls.privacy_and_data_protection,
                        "target": "_blank"
                    },
                    {
                        "text": _("Terms and conditions"),
                        "url": footer_urls.terms_and_conditions,
                        "target": "_blank"
                    }
                ]
            }
        ],
        "copyrightDeclaration": {
            "copyright": _("Crown copyright and database rights 2020 OS 100019153."),
            "text": _("Use of address data is subject to the"),
            "link": _("terms and conditions"),
            "url": footer_urls.terms_and_conditions,
            "target": "_blank"
        }
} %}

{% if content and content.show_sign_out_warning %}
  {% set config = config | setAttribute("footerWarning", _("Make sure you <a href={sign_out_url}>leave this page</a> or close your browser if using a shared device").format(sign_out_url = content.sign_out_url)) %}
{% endif %}

{{ onsFooter(config) }}
