{% if current_user.is_authenticated and not hide_signout_button %}

    {% if save_on_signout %}
        {% if account_service_log_out_url %}
          {% set button_text = _("Save and sign out") %}
        {% else %}
          {% set button_text = _("Save and complete later") %}
        {% endif %}
        {% do pageConfig | setAttribute("signoutButton", {
            "text": button_text,
            "name": "btn-save-sign-out",
            "classes": "js-btn-save",
            "url": "/sign-out",
            "attributes": {
                "data-qa": "btn-save-sign-out",
                "data-ga": "click",
                "data-ga-category": "Navigation",
                "data-ga-action": "Save and sign out click"
            }
        }) %}

    {% else %}
        {% do pageConfig | setAttribute("signoutButton", {
            "text": _("Sign out"),
            "name": "btn-sign-out",
            "url": "/sign-out",
            "attributes": {
                "data-qa": "btn-sign-out",
                "data-ga": "click",
                "data-ga-category": "Navigation",
                "data-ga-action": "Sign out click"
            }
        }) %}

    {% endif %}

{% endif %}
