{% if current_user.is_authenticated and not hide_sign_out_button %}
{% set sign_out_url = url_for('session.get_sign_out', todo=true) %}

    {% if save_on_signout %}
{% do pageConfig | setAttribute("signoutButton", {
            "text": sign_out_button_text,
            "url": sign_out_url,
            "attributes": {
                "data-qa": "btn-save-sign-out",
                "data-ga": "click",
                "data-ga-category": "Navigation",
                "data-ga-action": "Save and sign out click"
            }
        }) %}
    {% else %}
{% do pageConfig | setAttribute("signoutButton", {
            "text": _("Exit"),
            "url": sign_out_url,
            "attributes": {
                "data-qa": "btn-exit",
                "data-ga": "click",
                "data-ga-category": "Navigation",
                "data-ga-action": "Exit click"
            }
        }) %}
    {% endif %}

{% endif %}
