# Default values for chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: onsdigital/eq-questionnaire-runner
  tag: latest
  pullPolicy: Always

individualResponseLimit: "75"

submissionBucket: ""

googleTagManagerId: ""
googleTagManagerAuth: ""
googleTagManagerPreview: ""

webServer:
  type: "gunicorn-async"
  workers: "7"
  threads: "10"
  uwsgiAsyncCores: "10"

datastore:
  useGRPC: "False"

newRelic:
  enabled: "False"
  licenseKey: ""
  appName: ""

service:
  type: NodePort
  port: 80

ingress:
  enabled: true

resources:
  requests:
    cpu: ""

autoscaler:
  minReplicas: ""
  maxReplicas: ""
  targetCPUUtilizationPercentage: ""

# These values can be an absolute number (for example, 5) or
# a percentage of desired Pods (for example, 10%). The Kubernetes default value is 25%.
rollingUpdate:
  maxUnavailable: ""
  maxSurge: ""

cdn:
  url: "https://cdn.eq.census-gcp.onsdigital.uk"
  assets_path: "/design-system"

address_lookup_api:
  url: "https://whitelodge-ai-api.census-gcp.onsdigital.uk"

confirmationEmailLimit: 10
feedbackLimit: 10
