{% extends '_submit.html' %}

{% block page_title %}
  <h1 data-qa="calculated-summary-title">{{content.summary.title}}</h1>
{% endblock page_title %}

{% block post_title_panel %}
  {% call onsPanel({
        "type": "success",
        "classes": "print__hidden u-mb-l"
      })
    %}
    <p>{{ _("Please review your answers and confirm these are correct") }}.</p>
  {% endcall %}
{% endblock post_title_panel %}

{% block summary %}
  <div class="u-mb-m">
    {% include 'partials/summary/summary.html' %}
  </div>
{%  endblock summary %}

{% block submit_button %}
  {{
    onsButton({
      "text": _("Yes, I confirm these are correct"),
      "submitType": 'timer',
      "classes": "btn--loader js-btn-submit",
      "attributes": {
        "data-qa": "btn-submit"
      }
    })
  }}
{% endblock %}
