{% extends 'layouts/_base.html' %}
{% from 'components/panel/_macro.njk' import onsPanel %}
{% set page_title = page_title ~ " - " ~ _("Census 2021") %}
{% set hide_signout_button = content.hide_signout_button %}
{% set sign_out_url = content.sign_out_url %}

{% block main %}
  {% set form = content.form %}
  {% if form and form.mapped_errors %}
    {% set error_title = _("There is a problem with this page") %}
    {% include 'partials/error-panel.html' %}
  {% endif %}

  {% call onsPanel({
    "type": "success",
    "classes": "u-mb-s",
    "icon": "check"
    })
  %}
    <h1 data-qa="title">
      {% if content.census_type == "IR" %}
        {{ _("Thank you for completing your census") }}
      {% elif content.census_type %}
        {{ _("Thank you for completing the census") }}
      {% else %}
        {{ _("Thank you for completing the survey") }}
      {% endif %}
    </h1>

      {% if content.census_type %}
        {% if content.census_type == "IR" %}
          <p data-qa="guidance">{{ _("Your individual census has been submitted for <strong>{display_address}</strong>").format(display_address = content.display_address) }}</p>
        {% elif content.census_type == "HH" %}
          <p data-qa="guidance">{{ _("Your census has been submitted for the household at <strong>{display_address}</strong>").format(display_address = content.display_address) }}</p>
        {% elif content.census_type == "CE" %}
          <p data-qa="guidance">{{ _("Your census has been submitted for the accommodation at <strong>{display_address}</strong>").format(display_address = content.display_address) }}</p>
          <p>{{ _("Anyone staying at this accommodation for at least 6 months needs to fill in their own individual census, including staff. Your Census Officer will provide you with census forms for your residents.") }}</p>
        {% endif %}
      {% endif %}
    {% endcall %}


  {% call onsPanel({
    "type": "bare",
    "classes": "u-mb-s",
    "icon": "lock"
    })
  %}
    <p>{{ _("Your personal information is protected by law and will be kept confidential") }}</p>
  {% endcall %}

  {% if form %}
    <h2>{{ _("Get confirmation email") }}</h2>
    <p>{{ _("If you would like to be sent confirmation that you have completed your census enter your email address") }}</p>
    {% include 'partials/email-form.html' %}
  {% endif %}
  <br><br>

  {% call onsPanel({
    "id": "submission-warning",
    "type": "warn"
    })
  %}
  {{ _("Make sure you <a href='{url}'>leave this page</a> or close your browser if using a shared device").format(url = sign_out_url) }}
  {% endcall %}

{% endblock %}
