{% extends 'layouts/_base.html' %}
{% from 'components/panel/_macro.njk' import onsPanel %}

{% block main %}
   {% call onsPanel({
     "spacious": true,
     "type": "success",
     "classes": "u-mb-s"
     })
   %}
  <h1 data-qa="title">{{ _("A confirmation email has been sent")  }}</h1>
 {% endcall %}

  <p><strong>{{ _("Didn't receive an email?")  }}</strong></p>
  <p>{{ _("It can take a few minutes for the email to arrive. If it doesn't arrive, check your junk mail, or you can
    <a href='{url}' id='send-another-email'>send another confirmation email</a></p>").format(url = "/submitted/email-confirmation/")  }}


{% call onsPanel({
    "id": "submission-warning",
    "type": "warn"
    })
  %}
    {{ _("Make sure you <a href='{url}'>leave this page</a> or close your browser if using a shared device").format(url = "/sign-out")  }}
  {% endcall %}

{% endblock %}
