{% extends 'layouts/_base.html' %}
{% import 'macros/helpers.html' as helpers %}
{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/summary/_macro.njk" import onsSummary %}
{% from "components/button/_macro.njk" import onsButton %}

{% set save_on_signout = true %}

{% block main %}
    <h1 class="u-mt-m">{{ content.title }}</h1>
    {% call onsPanel({
      "type": "info",
      "attributes": {
      }
    }) %}
        <p data-qa="guidance"><strong>{{ content.guidance }}</strong></p>
    {% endcall %}
    {{ onsSummary({
      "hub": true,
      "classes": "u-mt-m",
      "summaries": [
        {
          "groups": [
            {
              "rows": content.rows
            }
          ]
        }
      ]
    }) }}
    {% if content.submission_guidance %}
      <div class="u-mt-l">
        <p class="u-mb-no" data-qa="submission-guidance">{{ content.submission_guidance }}</p>
      </div>
    {% endif %}
    {{
        onsButton({
            "text": content.submit_button,
            "submitType": 'timer',
            "classes": 'u-mb-m u-mt-' + ("s" if content.submission_guidance else "xl"),
            "attributes": {'data-qa': 'btn-submit'}
        })
    }}
{% endblock %}
