{% extends "layouts/_submit.html" %}

{% from "components/summary/_macro.njk" import onsSummary %}

{% block summary %}
    {% if content.rows %}
        {# djlint:off #}
        {{
            onsSummary({
                "variant": "hub",
                "classes": "ons-u-mt-m",
                "summaries": [{
                    "groups": [{
                        "rows": content.rows
                    }]
                }]
            })
        }}
        {# djlint:on #}
    {% endif %}
{% endblock summary %}
