{% extends "layouts/_questionnaire.html" %}

{% from "macros/helpers.html" import format_paragraphs %}
{% from "macros/helpers.html" import interviewer_note %}

{% set save_on_signout = true %}
{% set continue_button_text = _("Continue") %}

{% block form_content %}
    {% set interstitial_instruction = format_paragraphs(block.content.instruction) %}
    {% if block.interviewer_only %}
        <h1 class="question__title">{{ interviewer_note(block.content.title) }}</h1>
    {% else %}
        <h1 class="question__title">{{ block.content.title }}</h1>
    {% endif %}
    {% if interstitial_instruction %}
        <div class="question__instruction ons-u-mb-s">{{ interstitial_instruction | safe }}</div>
    {% endif %}
    {% set contents = block.content.contents %}
    {% include "partials/contents.html" %}
{% endblock form_content %}

{% block submit_button %}
    {# djlint:off #}
    {{
        onsButton({
            "text": continue_button_text | default(_("Save and continue")),
            "variants": 'timer',
            "classes": "ons-u-mt-l",
            "attributes": {
                "data-qa": "btn-submit",
                "data-ga-category": "Button",
                "data-ga-action": "Submit",
                "data-ga-label": "Save and Continue",
                "data-ga-page": "Interstitial",
                "data-ga": "click",
            }
        })
    }}
    {# djlint:on #}
{% endblock submit_button %}
