{% extends 'question.html' %}

{% block cancel_and_return %}
  {% if previous_location_url %}
    {% if content.block.cancel_text %}
        <p class="u-mt-xl" id="cancel-and-return">
           {{ content.block.cancel_text }} <a href="{{ previous_location_url }}"> {{ _("Return to the previous page") }}</a></p>
    {% else %}
        <p class="u-mt-xl" id="cancel-and-return">
        <a href="{{ previous_location_url }}">{{ _("Cancel and return to the previous page") }}</a></p>
    {% endif %}
  {% endif %}
{% endblock cancel_and_return %}
