{% extends 'summary.html' %}
{% block summary %}
  {% if content.summary.groups %}
    {% set group = content.summary.groups %}
    <h1>{{content.summary.title}}</h1>
      {% call onsPanel({
        "classes": "print__hidden u-mb-l"
      }) %}
        <p>{{ _("Check your answers before continuing to the next section") }}</p>
      {% endcall %}
  {% elif content.summary.custom_summary %}
    <h1>{{content.summary.title}}</h1>
    {% for summary in content.summary.custom_summary %}
      {% if summary.type == 'List' %}
        <div data-qa="{{summary.list_name}}-list-summary">
          <h2>{{summary.title}}</h2>
          {% if summary.list.list_items %}
            {% set list = summary.list %}
            {% include 'partials/summary/list-summary.html' %}
            {% else %}
              <div class="u-mb-s">
                {{ summary.empty_list_text }}
              </div>
            {% endif %}
            <div class="u-mb-l">
              <a data-qa="add-item-link" href="{{summary.add_link}}">{{summary.add_link_text}}</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
{% endblock %}
