{% extends 'layouts/_base.html' %}

{% from "components/panel/_macro.njk" import onsPanel %}
{% from "components/button/_macro.njk" import onsButton %}

{% set hide_sign_out_button = content.hide_sign_out_button %}
{% set sign_out_url = content.sign_out_url %}

{% set breadcrumbs = {
  "ariaLabel": 'Back',
  "itemsList": [
    {
      "url": url_for("post_submission.get_thank_you"),
      "id": "top-previous",
      "text": _("Back"),
      "attributes": {
        "data-ga": 'click',
        "data-ga-category": 'Navigation',
        "data-ga-action": 'Previous link click'
      }
    }
  ]
}%}

{% block main %}
  {% block page_title %}
    <h1 class="u-mt-m">
      {% if content.trad_as %}
        {{ _("Your answers were submitted for <span>{ru_name}</span> ({trading_as_name})").format(
          ru_name = content.ru_name,
          trading_as_name = content.trad_as) }}
      {% else %}
        {{ _("Your answers were submitted for <span>{ru_name}</span>").format(
          ru_name = content.ru_name) }}
      {% endif %}</h1>
  {% endblock page_title %}

  <p>{{ _("<b>Submitted on:</b>  {submitted_at}").format(submitted_at=content.submitted_at | format_datetime)}}</p>
  <p>{{ _("<b>Submission reference:</b> {transaction_id}").format(transaction_id=content.tx_id)}}</p>
  <br/>
  {% block summary %}
  <div class="u-mb-m">
    {% include 'partials/summary/summary.html' %}
  </div>
  {% endblock summary %}

{% endblock %}
