{% extends 'layouts/_questionnaire.html' %}
{% from "components/button/_macro.njk" import onsButton %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% import 'macros/helpers.html' as helpers %}

{% set summary_page_title = content.title %}
{% set save_on_signout = true %}

{% block submit_button %}
  {% if content.summary and content.summary.summary_type == 'CalculatedSummary' %}
    {{
      onsButton({
        "text": _("Yes, I confirm these are correct"),
        "submitType": 'timer',
        "classes": "btn--loader js-btn-submit",
        "attributes": {
          "data-qa": "btn-submit"
        }
      })
    }}
  {% else %}
    {% if block and block.content %}
      {% set content_block = block.content %}
      {% include 'partials/content-block.html' %}
    {% endif %}
    <p class="u-mt-m">
      {{
        onsButton({
          "text": content.submit_button if content.submit_button else _("Submit answers"),
          "submitType": 'timer',
          "classes": "btn--loader js-btn-submit",
          "attributes": {
            "data-qa": "btn-submit",
            "data-loading-msg": _("Submitting") + "&hellip;"
          }
        })
      }}
    </p>
  {% endif %}
{% endblock %}

{% block form_content %}
  {% if content.summary.summary_type == 'Summary' %}
    <h1>{{ content.title }}</h1>

    {% if content.warning %}
        {% call onsPanel({
            "type": "warn"
          }) %}
          <p data-qa="warning">{{ content.warning }}</p>
        {% endcall %}
    {% endif %}

  {% elif content.summary.summary_type == 'CalculatedSummary' %}
    <h1 data-qa="calculated-summary-title">{{content.summary.title}}</h1>

    {% call onsPanel({
      "type": "success",
      "classes": "print__hidden u-mb-l"
    }) %}
      <p>{{ _("Please review your answers and confirm these are correct") }}.</p>
    {% endcall %}
  {% endif %}

  <div class="u-mb-m">
    {% include 'partials/summary/summary.html' %}
  </div>

  {% if content.guidance %}
    <div class="u-mt-l">
          <p class="u-mb-no" data-qa="guidance">{{ content.guidance }}</p>
    </div>
  {% endif %}
{% endblock -%}
