{% extends 'confirmation.html' %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% import 'macros/helpers.html' as helpers %}

{% set summary_page_title = content.title %}
{% set save_on_signout = true %}

{% block form_content %}
  {% if content.summary.summary_type == 'Summary' %}
    <h1>{{ content.title }}</h1>

    {% if content.warning %}
        {% call onsPanel({
            "type": "warn"
          }) %}
          <p data-qa="warning">{{ content.warning }}</p>
        {% endcall %}
    {% endif %}

  {% elif content.summary.summary_type == 'CalculatedSummary' %}
    <h1 data-qa="calculated-summary-title">{{content.summary.title}}</h1>

    {% call onsPanel({
      "type": "success",
      "classes": "print__hidden u-mb-l"
    }) %}
      <p>{{ _("Please review your answers and confirm these are correct") }}.</p>
    {% endcall %}
  {% endif %}

  <div class="u-mb-m">
    {% include 'partials/summary/summary.html' %}
  </div>

  {% if content.guidance %}
    <div class="u-mt-l">
          <p class="u-mb-no" data-qa="guidance">{{ content.guidance }}</p>
    </div>
  {% endif %}
{% endblock -%}
