{% extends 'confirmation.html' %}
{% from "components/panel/_macro.njk" import onsPanel %}

{% import 'macros/helpers.html' as helpers %}

{% set summary_page_title = _("Summary") + " - " + survey_title %}
{% set save_on_signout = true %}

{% block form_content %}
  {% block summary %}
      {% if content.summary.summary_type == 'Summary' %}
        <h1>{{ _("Check your answers and submit") }}</h1>

        {% call onsPanel({
          "classes": "print__hidden u-mb-l"
        }) %}
          <strong>{{ _("Please submit this survey to complete it") }}</strong>
          <p>{{ _("Check your answers before submitting") }}</p>
        {% endcall %}
      {% elif content.summary.summary_type == 'CalculatedSummary' %}
        <h1 data-qa="calculated-summary-title">{{content.summary.title}}</h1>

        {% call onsPanel({
          "type": "success",
          "classes": "print__hidden u-mb-l"
        }) %}
          <p>{{ _("Please review your answers and confirm these are correct") }}.</p>
        {% endcall %}
      {% endif %}
  {% endblock %}

  <div class="u-mb-m">
    {% include 'partials/summary/summary.html' %}
  </div>

  {% if content.summary.is_view_submission_response_enabled %}
    <div class="u-mt-m u-mb-s u-mb-m@s" data-qa="view-submission-text">
      <div class="u-fs-r--b">{{ _("You will have the opportunity to view and print a copy of your answers after submitting this survey") }}</div>
    </div>
  {% endif %}
{% endblock -%}
