{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% if answer.label %}
  {% set checkbox_label = answer.label %}
{% elif answer.options|length == 1 %}
  {% set checkbox_label = '' %}
{% else %}
  {% set checkbox_label = _("Select at least one answer") %}
{% endif %}

{{ onsCheckboxes({
  "legend": question_title,
  "id": answer.id,
  "legendClasses": "u-vh",
  "checkboxesLabel": checkbox_label,
  "checkboxes": map_checkbox_config(form, answer),
  "mutuallyExclusive": mutuallyExclusive,
  "error": error
}) }}

