{% from "components/checkboxes/_macro.njk" import onsCheckboxes %}

{% if answer.show_label == False or answer.options|length == 1 %}
  {{ onsCheckboxes({
    "legend": question_title,
    "id": answer.id,
    "legendClasses": "u-vh",
    "checkboxes": map_checkbox_config(form, answer),
    "mutuallyExclusive": mutuallyExclusive,
    "error": error
  }) }}
{% else %}
  {{ onsCheckboxes({
  "legend": question_title,
  "id": answer.id,
  "legendClasses": "u-vh",
  "checkboxesLabel": answer.label or _("Select all that apply"),
  "checkboxes": map_checkbox_config(form, answer),
  "mutuallyExclusive": mutuallyExclusive,
  "error": error
}) }}
{% endif %}
