{% from "components/radios/_macro.njk" import onsRadios %}

{% set config = {
  "name": answer["id"],
  "legend": question_title,
  "legendClasses": "u-vh",
  "radios": map_radio_config(form, answer),
  "error": error
} %}

{% if answer.voluntary %}
  {% set config = config | setAttribute("clearRadios", {
    "text": _("Clear selection"),
    "name": "action[clear_radios]",
    "ariaClearText": "You can clear your answer using the clear selection button after the radio inputs",
    "ariaClearedText": "You have cleared your answer"
  }) %}
{% endif %}

{{ onsRadios(config) }}
