name: PR

on:
  pull_request:
    branches:
      - "master"
      - "branch-v*"

jobs:
  python-dependencies:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - run: |
          echo "PYTHON_VERSION=$(cat .python-version)" >> $GITHUB_ENV
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install apt dependencies
        run: |
          sudo apt-get install libsnappy-dev libgconf-2-4

          # Install wkthtmltopdf with patched Qt
          sudo apt-get install -y xfonts-base xfonts-75dpi
          wget https://github.com/wkhtmltopdf/packaging/releases/download/0.12.6-1/wkhtmltox_0.12.6-1.bionic_amd64.deb
          sudo dpkg -i wkhtmltox_0.12.6-1.bionic_amd64.deb
      - name: Install Pipenv
        run: pip install pipenv==2018.11.26
      - name: Cache virtualenv
        id: cache-virtualenv
        uses: actions/cache@v1
        with:
          path: ~/.local/share/virtualenvs/
          key: ${{ runner.os }}-${{ env.PYTHON_VERSION }}-virtualenvs-${{ hashFiles('Pipfile.lock') }}
      - name: Install virtual environment
        if: steps.cache-virtualenv.outputs.cache-hit != 'true'
        run: pipenv install --dev
  node-dependencies:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "12.14.1"
      - name: Get yarn cache
        id: get-yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Cache yarn modules
        id: cache-yarn
        uses: actions/cache@v1
        with:
          path: ${{ steps.get-yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
      - name: Install yarn deps
        if: steps.cache-yarn.outputs.cache-hit != 'true'
        run: yarn
  test-unit:
    needs: python-dependencies
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - run: |
          echo "PYTHON_VERSION=$(cat .python-version)" >> $GITHUB_ENV
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install apt dependencies
        run: |
            sudo apt-get install libsnappy-dev libgconf-2-4 jq

            # Install wkthtmltopdf with patched Qt
            sudo apt-get install -y xfonts-base xfonts-75dpi
            wget https://github.com/wkhtmltopdf/packaging/releases/download/0.12.6-1/wkhtmltox_0.12.6-1.bionic_amd64.deb
            sudo dpkg -i wkhtmltox_0.12.6-1.bionic_amd64.deb
      - name: Write app version
        run: printf "${{ github.event.pull_request.head.sha }}" > .application-version
      - name: Install pipenv
        run: pip install pipenv==2018.11.26
      - name: Cache virtualenv
        id: cache-virtualenv
        uses: actions/cache@v1
        with:
          path: ~/.local/share/virtualenvs/
          key: ${{ runner.os }}-${{ env.PYTHON_VERSION }}-virtualenvs-${{ hashFiles('Pipfile.lock') }}
      - name: Install virtual environment
        if: steps.cache-virtualenv.outputs.cache-hit != 'true'
        run: pipenv install --dev
      - name: Load templates
        run: make load-design-system-templates
      - name: Compile translations
        run: make translate
      - name: Link env vars
        run: ln -sf .development.env .env
      - name: Running translation tests
        run: pipenv run python -m scripts.extract_translation_templates --test
      - name: Running lint tests
        run: pipenv run ./scripts/run_lint_python.sh
      - name: Running unit tests
        run: pipenv run ./scripts/run_tests_unit.sh
  validate-schemas:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Run validator
        run: ./scripts/run_validator.sh
      - name: Running schema tests
        run: ./scripts/validate_test_schemas.sh
  test-functional:
    needs: [python-dependencies, node-dependencies]
    runs-on: ubuntu-18.04
    env:
      EQ_RUN_FUNCTIONAL_TESTS_HEADLESS: True
    steps:
      - uses: actions/checkout@v2
      - name: Update to latest stable Chrome
        run: |
          wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt install ./google-chrome-stable_current_amd64.deb
      - uses: actions/setup-node@v1
        with:
          node-version: "12.14.1"
      - run: |
          echo "PYTHON_VERSION=$(cat .python-version)" >> $GITHUB_ENV
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install pipenv
        run: pip install pipenv==2018.11.26
      - name: Cache virtualenv
        id: cache-virtualenv
        uses: actions/cache@v1
        with:
          path: ~/.local/share/virtualenvs/
          key: ${{ runner.os }}-${{ env.PYTHON_VERSION }}-virtualenvs-${{ hashFiles('Pipfile.lock') }}
      - name: Install virtual environment
        if: steps.cache-virtualenv.outputs.cache-hit != 'true'
        run: |
          pipenv install --dev
      - name: Get yarn cache
        id: get-yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Cache yarn modules
        uses: actions/cache@v1
        id: cache-yarn
        with:
          path: ${{ steps.get-yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
      - name: Install yarn deps
        run: yarn install
      - name: Functional tests spec lint
        run: ./scripts/lint_functional_test_specs.sh
      - name: Javascript linting check
        run: yarn lint
      - name: Docker compose
        run: docker-compose --version && docker-compose up --build -d
      - name: Functional tests
        run: ./scripts/run_tests_functional.sh
      - name: Docker compose shutdown
        run: docker-compose kill
  docker-push:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Set Tag and SHA
        run: |
          CLEAN_TAG=$(echo "${{ github.event.pull_request.head.ref  }}"  | tr / -)
          echo "TAG=$CLEAN_TAG" >> $GITHUB_ENV
          echo "SHA=${{ github.event.pull_request.head.sha }}" >> $GITHUB_ENV
      - name: Write app version
        run: |
          echo "Writing SHA $SHA to .application_version"
          printf $SHA > .application-version
      - name: Build
        run: >
          docker build -t onsdigital/eq-questionnaire-runner:$TAG
          -t eu.gcr.io/${{ secrets.GCR_PROJECT_ID }}/eq-questionnaire-runner:$TAG -t ${{ secrets.GAR_LOCATION }}/${{ secrets.GAR_PROJECT_ID }}/docker-images/eq-questionnaire-runner:$TAG .
      - name: Push to Docker Hub
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          echo "Pushing to DockerHub with tag $TAG"
          docker push onsdigital/eq-questionnaire-runner:$TAG
      - name: Push to GCR
        env:
            GCR_SERVICE_KEY: ${{ secrets.GCR_SERVICE_KEY }}
        run: |
          echo $GCR_SERVICE_KEY | docker login -u _json_key --password-stdin https://eu.gcr.io
          echo "Pushing to GCR with tag $TAG"
          docker push eu.gcr.io/${{ secrets.GCR_PROJECT_ID }}/eq-questionnaire-runner:$TAG

      - name: Push to GAR
        env:
          GAR_SERVICE_KEY: ${{ secrets.GAR_SERVICE_KEY }}
        run: |
          echo $GAR_SERVICE_KEY | docker login -u _json_key --password-stdin https://${{ secrets.GAR_LOCATION }}
          gcloud auth configure-docker ${{ secrets.GAR_LOCATION }}
          echo "Pushing to GAR with tag $TAG"
          docker push ${{ secrets.GAR_LOCATION }}/${{ secrets.GAR_PROJECT_ID }}/docker-images/eq-questionnaire-runner:$TAG
